$background-main-theme: #F2EBDF;

$timeline-active: #846700;
$timeline-inactive: #0038FF;

$primary-white: #F4F4F4;
$secondary-white: #E9E9E9;

$primary-black: #333333;

$primary-purple: #A932FF;

$primary-green: #609966;

$default-black: #000000;

$primary-blue: #1c3765;
$secondary-blue: #484f73;
$primary-light-blue: #addee5;