/*@import url("https://use.typekit.net/bpw8gft.css");*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Roboto', sans-serif;
        @apply bg-AR-Beige;
    }

    button {
        -webkit-tap-highlight-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-[#3E403F];
        border-radius: 0;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 4px solid transparent;
        background-clip: content-box;
        @apply bg-port-brown;
    }

    .outline-text {
        -webkit-text-stroke: 1px theme('colors.AR-Grey');
    }
}
