@import 'variables/ColorVariables.scss';

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2.5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-2.5deg); }
    100% { transform: rotate(0deg); }
}

.faq-page-content {
    height: 100vh;
}

.faq-into-question {
    margin-top: 5%;
    width: 45%;
    margin-left: 30%;
}

.background-card {
    border-radius: 10px;
    border: 3px solid #846700;
    background: #F5DBAF;
}

.underline {
    border-bottom: 3px solid #846700;
}


.question-card {
    margin: 5%;
    width: 25%;
    height: 75%;
    text-align: center;
    padding: 1%;
}

.question-card:hover {
    animation: tilt-shaking 0.25s infinite;
}

.question-icon {
    height: auto;
    width: 40%;
    padding: 30%;
    padding-top: 10%;
}

.questions-list {
    justify-content: center;
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
    height: 30%;
    width: 60%;
    // border: 3px solid red;
}

.questions-list-element-right {
    margin-right: 10%;
    text-align: right;
    height: 15%;
    // border: 3px solid green;
}

.questions-list-element-left {
    margin-left: 10%;
    text-align: left;
    height: 15%;
    // border: 3px solid blue;
}

.question-content {
    width: 60%;
    margin-left: 20%;
}


.main-title {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 6%;
}

.title {
    text-align: center;
    font-size: 1.67vw;
}

.sub-title {
    padding: 2%;
    text-align: center;
    font-size: 1.25vw;
}

.text {
    font-size: 0.94vw;
}   

.gray-text-color {
    color: #6C6C6C;
}

.sub-content {
    height: 75%;
    width: 80%;
    margin-left: 10%;
    // border: 3px solid pink;
}

.space-between-questions {
    height: 10vh;
}

img {
    transition: .3s ease-in-out;
}

img:hover{
	transform: scale(1.25);
}

@media screen and (max-width: 1181px) {
    .faq-page-content {
        height: 90vh;
    }

    .faq-into-question {
        margin-top: 10%;
        width: 60%;
        margin-left: 20%;
    }

    .question-card {
        margin: 2.5%;
        width: 100%;
        height: 180px;
        text-align: center;
        padding: 1%;
    }

    .question-icon {
        height: auto;
        width: 40%;
        padding: 30%;
        padding-top: 10%;
    }

    .questions-list {
        margin-left: 0px;
        margin-top: 5%;
        height: 30%;
        width: 100%;
    }

    .questions-list-element-right {
        margin-right: 10%;
        text-align: right;
        height: 15%;
    }

    .questions-list-element-left {
        margin-left: 10%;
        text-align: left;
        height: 15%;
    }

    .question-content {
        width: 80%;
        margin-left: 10%;
    }

    .main-title {
        text-align: center;
        font-size: 30px;
        margin-top: 15%;
    }

    .title {
        text-align: center;
        font-size: 28px;
    }

    .sub-title {
        padding: 5%;
        text-align: center;
        font-size: 24px;
    }

    .text {
        font-size: 20px;
    }

    .sub-content {
        height: 75%;
        width: 80%;
        margin-left: 10%;
    }

    .space-between-questions {
        height: 5vh;
    }
}

@media screen and (max-width: 768px) {
    .faq-page-content {
        height: 90vh;
    }

    .faq-into-question {
        margin-top: 10%;
        width: 80%;
        margin-left: 10%;
    }

    .question-card {
        margin: 5%;
        width: 100%;
        height: 120px;
        text-align: center;
        padding: 1%;
    }

    .question-icon {
        height: auto;
        width: 40%;
        padding: 30%;
        padding-top: 10%;
    }

    .questions-list {
        margin-left: 0px;
        margin-top: 5%;
        height: 30%;
        width: 100%;
    }

    .questions-list-element-right {
        margin-right: 10%;
        text-align: right;
        height: 15%;
    }

    .questions-list-element-left {
        margin-left: 10%;
        text-align: left;
        height: 15%;
    }

    .question-content {
        width: 80%;
        margin-left: 10%;
    }

    .main-title {
        text-align: center;
        font-size: 24px;
        margin-top: 20%;
    }

    .title {
        text-align: center;
        font-size: 16px;
    }

    .sub-title {
        padding: 5%;
        text-align: center;
        font-size: 12px;
    }

    .text {
        font-size: 11px;
    }

    .sub-content {
        height: 75%;
        width: 80%;
        margin-left: 10%;
    }

    .space-between-questions {
        height: 5vh;
    }
}
