.navbar {
    text-align: center;
    /* overflow: hidden; */
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

/* Links inside the navbar */
.navbar a {
    display: inline-block;
    color: #F2EBDF;
    padding: 14px 16px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #F2EBDF;
    color: black;
}

@media screen and (max-width: 768px) {
    .navbar a {
        margin-left: 0%;
        margin-right: 0%;
    }

    .navbar-option {
        font-size: 12px;
    }
}
