@import 'variables/ColorVariables.scss';

.profile-page-content {
    height: 100vh;
    display: flex;
}

.sub-content {
    display: flex;
    margin-top: 2.5%;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    // border: 3px solid pink;
}

.personal-content {
    margin-top: 7.5%;
    margin-left: 12.5%;
    width: 25%;
    height: 70%;
    // border: 3px solid orange;
    text-align: center;
    display: grid;
}

.card {
    border-radius: 2vw;
    border: 5px solid #846700;
    background: linear-gradient(156deg, rgba(255, 199, 0, 0.40) 0%, rgba(132, 103, 0, 0.00) 50%), linear-gradient(0deg, #FFC700 0%, rgba(242, 235, 223, 0.00) 50%);
}

.hobby {
    margin-top: -15%;
    margin-left: -15%;
    width: 35%;
    height: auto;
}

.profile-picture {
    // border: 3px solid green;
    display: block;
    margin: -5% auto auto;
    height: 75%;
    width: auto;
}

.black-separation-bar {
    margin-top: -25%;
    margin-left: 35%;
    width: 30%;
    height: 0.417vw;
    background: #000000;
    border-radius: 2.5vw;
}

.orange-separation-bar {
    margin-top: -22.5%;
    margin-left: 40%;
    width: 20%;
    height: 0.417vw;
    background: $timeline-active;
    border-radius: 2.5vw;
}

.name {
    margin-top: -17.5%;
    font-size: 1.25vw;
    font-weight: bold;
}

.role {
    margin-top: -10%;
    color: #6C6C6C;
    font-weight: bold;
    font-size: 1.25vw;
}

.timeline-content {
    display: flex;
    margin-top: 7.5%;
    margin-left: 12.5%;
    width: 50%;
    height: 70%;
    // border: 3px solid blue;

    .timeline-active, .timeline-inactive {
        flex: 1 1 0;
    }

    .internship-logo {
        //max-width: 2px;
    }
}

.timeline-inactive {
    align-self: center;
    width: 15%;
    height: 0.417vw;
    background: $timeline-inactive;
}

.timeline-active {
    align-self: center;
    width: 15%;
    height: 0.417vw;
    background: $timeline-active;
}

.year-bubble-active {
    margin-top: -0.25vw;
    margin-left: -0.25vw;
    height: 1vw;
    width: 1vw;
    background-color: $timeline-active;
    border-radius: 50%;
}

.year-bubble-inactive {
    margin-top: -0.25vw;
    margin-left: -0.25vw;
    height: 1vw;
    width: 1vw;
    background-color: $timeline-inactive;
    border-radius: 50%;
}

.end-year-bubble-active {
    margin-top: -0.25vw;
    margin-left: 99%;
    width: 0;
    height: 0;
    border-top: 0.5vw solid transparent;
    border-left: 1vw solid $timeline-active;
    border-bottom: 0.5vw solid transparent;
}

.end-year-bubble-inactive {
    margin-top: -0.25vw;
    margin-left: 99%;
    width: 0;
    height: 0;
    border-top: 0.5vw solid transparent;
    border-left: 1vw solid $timeline-inactive;
    border-bottom: 0.5vw solid transparent;
}

.year-2020 {
    margin-top: 0.5%;
    margin-right: 2vw;
    align-self: center;
    font-weight: bold;
    font-size: 1.25vw;
}

.year-2023 {
    margin-top: 0.5%;
    margin-left: 3vw;
    align-self: center;
    font-weight: bold;
    font-size: 1.25vw;
}

.internship-logo {
    margin: 2vh;
    width: 3vw
}

.internship-role {
    text-align: center;
    font-size: 0.65vw;
}

.epitech-logo-timeline {
    margin-top: -15vh;
    margin-left: -2vw;
    width: 10vw;
}

.bottom-right-yellow-fade-background {
    background: linear-gradient(132deg, #F2EBDF 64.31%, rgba(255, 199, 0, 0.65) 100%);
}

.top-right-yellow-fade-background {
    background: linear-gradient(48deg, #F2EBDF 64.31%, rgba(255, 199, 0, 0.65) 100%);
}

.bottom-left-yellow-fade-background {
    background: linear-gradient(228deg, #F2EBDF 64.31%, rgba(255, 199, 0, 0.65) 100%);
}

.top-left-yellow-fade-background {
    background: linear-gradient(312deg, #F2EBDF 64.31%, rgba(255, 199, 0, 0.65) 100%);
}

img {
    transition: .3s ease-in-out;
}

img:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 1181px) {
    .profile-page-content {
        height: 50vh;
    }

    .sub-content {
        height: 40vh;
        width: 90%;
        margin-left: 10%;
    }

    .personal-content {
        margin-top: 0;
        margin-left: 0;
        width: 25%;
        height: 90%;
    }

    .name {
        font-size: 16px;
    }

    .role {
        font-size: 16px;
    }

    .year-2020 {
        font-size: 24px;
    }

    .year-2023 {
        font-size: 24px;
    }

    .internship-logo {
        margin-left: 5px;
        margin-top: 10px;
        width: 100px;
    }

    .internship-role {
        font-size: 10px;
    }

    .epitech-logo-timeline {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .profile-page-content {
        height: 50vh;
    }

    .sub-content {
        height: 40vh;
        width: 90%;
        margin-left: 10%;
    }

    .personal-content {
        margin-top: 0;
        margin-left: 0;
        width: 40%;
        height: 90%;
    }

    .name {
        font-size: 11px;
    }

    .role {
        font-size: 11px;
    }

    .timeline-content {
        margin-left: 5%;
        margin-top: -2.5%;
    }

    .year-2020 {
        font-size: 14px;
    }

    .year-2023 {
        font-size: 14px;
    }

    .internship-logo {
        margin-left: 5px;
        margin-top: 10px;
        width: 80px;
    }

    .internship-role {
        font-size: 8px;
    }

    .epitech-logo-timeline {
        display: none;
    }
}
